<form id="signup" name="signup">
    <label for="username">Name</label>
	<input class="text Name" name="name" type="text" /><br />
	<label for="email">Email</label>
	<input class="text" name="email" type="text" /><br />
    <label for="password">Password</label>
	<input class="text Password" name="name" type="text" /><br />
	<input class="btn" type="submit" value="Sign Up" /><br />
</form>
<%= link_to "Home", controller: 'static_pages', action: 'home' %>


